#container{
    border:1px solid #444;
    text-align: center;
}

#viewport{
    position: relative;
    margin:0 auto;
    border:1px solid #aaa;
    width: 900px;
    height: 600px;

}
#viewport canvas{
    position: absolute;
    width: 900px;
    height: 600px;
}